<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alex de Moure</string>
	<key>CFBundleDisplayName</key>
	<string>taggedPlus</string>
	<key>CFBundleIdentifier</key>
	<string>com.Janus.taggedPlus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.4</string>
	<key>CFBundleVersion</key>
	<string>8.4</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery.js</string>
				<string>tagged.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>tagged.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Fixed Menu Bar, floating Navigation Bar, browse photos with arrow keys, skin substitution.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/downloads/OcciJano/taggedPlus/Tagged.safariextz</string>
	<key>Website</key>
	<string>http://OcciJano.github.com/</string>
</dict>
</plist>
