<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>navi</string>
		<key>Title</key>
		<string>Make "Navigation Bar" static</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>brow</string>
		<key>Title</key>
		<string>Use "Browse Bar" as a dock</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>foot</string>
		<key>Title</key>
		<string>Move "Footer" to bottom in Home</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>keys</string>
		<key>Title</key>
		<string>Use arrows as navigation keys</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>dont</string>
		<key>Key</key>
		<string>skin</string>
		<key>Title</key>
		<string>Skin</string>
		<key>Titles</key>
		<array>
			<string>Don't substitute</string>
			<string>Every as Default</string>
			<string>Every as Blue</string>
			<string>Every as Marble</string>
			<string>Every as Metal</string>
			<string>Every as Wood</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>dont</string>
			<string>dflt</string>
			<string>blue</string>
			<string>marb</string>
			<string>meta</string>
			<string>wood</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>sett</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>skns</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>boxs</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>comt</string>
		<key>Title</key>
		<string>Show profile box "Comments"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>tags</string>
		<key>Title</key>
		<string>Show profile box "Tags"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>vide</string>
		<key>Title</key>
		<string>Show profile box "Videos"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ques</string>
		<key>Title</key>
		<string>Show profile box "Questions"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>gift</string>
		<key>Title</key>
		<string>Show profile box "Gifs"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>phot</string>
		<key>Title</key>
		<string>Show profile box "Photos"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>grou</string>
		<key>Title</key>
		<string>Show profile box "Groups"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>jour</string>
		<key>Title</key>
		<string>Show profile box "Journals"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>news</string>
		<key>Title</key>
		<string>Show profile box "What’s New Box"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>lwal</string>
		<key>Title</key>
		<string>Show profile box "Left Wall"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>rwal</string>
		<key>Title</key>
		<string>Show profile box "Right Wall"</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
