/* tagged.css © 2011 Alex de Moure */

#navheader {
	z-index: auto !important;
	position: static !important;
	font-weight: bold !important;
	word-spacing: -2px !important;
	height: 63px !important;
}
#navheader.flota {
	z-index: 1234567 !important;
	position: fixed !important;
	width: 100% !important;
	opacity: 0.9 !important;
	-webkit-box-shadow: 0px 2px 8px #000 !important;
}

#browse_bar_hc {margin: auto !important; display: none !important;}
#browse_bar_hc.menuOff {
	width: 960px !important;
	z-index: auto !important;
	display: block !important;
	position: static !important;
}
#browse_bar_hc.menuOn {
	width: 960px !important;
	z-index: 123456 !important;
	display: block !important;
	position: relative !important;
	top: 65px;
	background-color: #F2F2F2 !important;
	opacity: 0.9 !important;
	border-radius: 0px 0px 5px 5px !important;
	-webkit-box-shadow: 0px 0px 8px #000 !important;
	-webkit-transition-property: top !important;
	-webkit-transition-delay: 0.4s !important;
	-webkit-transition-duration: 0.5s !important;
}
#browse_bar_hc.flota {
	width: 612px !important;
	z-index: 12345678 !important;
	display: block !important;
	position: fixed !important;
	top: auto !important;
	bottom: -46px;
	right: 0px !important;
	height: 50px !important;
	background-color: rgba(235,235,235,0.9) !important;
	border-top-left-radius: 5px !important;
	-webkit-box-shadow: 0px 0px 8px #000 !important;
	-webkit-transition-property: bottom !important;
	-webkit-transition-delay: 0.4s !important;
	-webkit-transition-duration: 0.5s !important;
}

#inner_container {padding-top: 2px !important;}
#inner_container.menu {padding-top: 69px !important;}

#column1.fija, #column3.fija {position: fixed !important;}
.column2.gris {
	width: 480px !important;
	background-color: rgba(234,234,234,0.9) !important;
	border: 1px inset rgba(160,160,160,0.4) !important;
}

#footer.fijo {position: fixed !important;}
#footer.fondo {
	margin: auto !important;
	width: 960px !important;
	position: relative !important;
	left: auto !important;
}

/* fixes */
#mailbox_view, #mailbox_layout {float: center !important;}
#customize {
	z-index: 123456789 !important;
	position: fixed !important;
	display: block !important;
	bottom: 0px !important;
	left: 0px !important;
	height: 179px !important;
	width: auto !important;
	background: rgba(20,20,20,0.9) !important;
	border-top-right-radius: 5px !important;
	border-top: 1px solid rgba(200,200,200,0.9) !important;
	border-right: 1px solid rgba(200,200,200,0.9) !important;
	-webkit-box-shadow: 0px 0px 8px #111 !important;
}
#c11n_feedback {width: 354px !important; border-bottom-right-radius: 5px !important;}